### IntelliJ IDEA ###
.idea/
*.iml
out/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db

### Environment ###
.env
*.tmp
*.bak
